:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #fcf4eb;
}

p {
  color: black;
  font-size: medium;
}

.me {
  color: #e69138;
  ;
}

.project {
  color: #ffae22;
}

.skill {
  color: #ffae22;
}

.footer2 {
  color: #e69138;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3.5rem;
  margin: 6px;
  background-color: #fcf4eb;
  box-shadow: 0 3px 3px rgba(138, 35, 35, 0.1);
}

img {
  width: 8%;
}
nav h1 {
  color: black;
}

nav a {
  color: black;
}

nav a:hover {
  color: #ffae22;
  border-bottom: 2px solid;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: 200;
}

h1 {
  color: #ffae22;
  font-weight: 350;
  position: center;
}


.sticky {
  position: sticky;
  padding: 0px;
  margin: 0px;
  right: -90px;
  top: 200px;
  width: 200px;
  z-index: 1000;
}

.sticky li {
  list-style-type: none;
  background-color: white;
  color: black;
  height: 43px;
  width: 0;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  border-radius: 7%;
  position: right;
}

.sticky li img {
  float: left;
  margin: 5px 4px;
  margin-right: 5px;
}

.greetings {
  font-size: larger;
  display: block;
  text-align: center;
  height: 500px;
  padding: 1.5rem 3.5rem;
  margin: 60px;
  margin-top: 10px;
}

.HI {
  color: black;
}

.project {
  font-size: larger;
  display: block;
  text-align: center;
  height: 500px;
  padding: 1.5rem 3.5rem;
  margin: 60px;
  margin-top: 10px;
  box-shadow: 0 5px 5px rgba(6, 6, 6, 0.1);

}

.software-skills {
  font-size: larger;
  display: block;
  text-align: center;
  height: 500px;
  padding: 1.5rem 1.5rem;
  margin: 60px;
  box-shadow: 0 15px 5px rgba(6, 6, 6, 0.1);
}

.About {
  text-align-last: center;
  text-align: justify;
  font-weight: 50;
  text-align: center;
  height: 500px;
  padding: 1.5rem 1.5rem;
  margin: 60px;
}

.footer {
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  font-weight: lighter;
  text-align: center;
  color: black;
  height: 35px;
  padding: 3.5rem 1.5rem;
  margin: 60px;
}